<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - انتخاب واحد</title>
    @Styles.Render("~/Content/css")
</head>
<body ng-cloak>
<nav class="navbar navbar-inverse navbar-site">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">انتخاب واحد</a>
        </div>
    </div>
</nav>

    <div class="container wrapper" ng-controller="MyController" id="siteWrapper">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/scripts")

    @RenderSection("scripts", required: false)
</body>
</html>
